.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(93, 52, 107);
  background: linear-gradient(0deg, rgba(93, 52, 107, 1) 0%, rgba(202, 114, 235, 1) 100%);
  color: white;
}

body {
  background: rgb(202, 114, 235);

}

.button-submit {
  padding: 10px 20px;
  width: 200px;
  margin: 1%;
  border: none;
  background: linear-gradient(180deg, #5BEB5C 7.81%, rgba(91, 235, 92, 0.46) 100%);
  border-radius: 25px;
  color: white;
  font-size: 16px;
}

input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.podcast-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  overflow: hidden;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
